@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

body {
  margin: 0;
  
  font-family: "Nunito",sans-serif;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #0693e3;
  overflow-x: hidden;
  
  
}

html{
  font-size: 16px;
}

