.nav-container{
    display: flex;
    justify-content: left;
    height:6rem;
    border-bottom: solid #ed1c24 4px;
}

.nav-subcontainerleft{
    width:50%;
    display: flex;
    justify-content: left;
}

.nav-subcontainerright{
    width:50%;
    display: flex;
    justify-content: right;
}

.nav-subcontainerright p{
    padding-right: 5%;
    font-size: 0rem;
    margin-top: 2.2rem;
}
@media(min-width: 500px){
    .nav-subcontainerright p{
        font-size: 1.6rem;
    }
}



.nav-img{
    padding-left: 3rem;
    padding-top: 0.4rem;
    height: 5.2rem;
    width: auto;
}