.app{
  display: block;
  text-align: -webkit-center;
}

.container{
  opacity: calc(1);
  margin-top: 10vh;
  width:70%;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 10px 1px black ;
  display: flex;
  flex-direction: column;
  margin-left:auto;
  margin-right: auto;
}

.container img{
  width:60%;
  margin: auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.headertext{
  font-size: 0rem;
  margin:auto;
  padding: 3vh;
}

@media(min-width: 1000px){
 .headertext{
  font-size: 2.5rem;
 }

 .button-container{
  margin-top: 20px;
  flex-direction: row;
  }  

  .checkbox{
    margin-top:auto;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: 10px;
    width:30px;
    height:30px;
  }
}
@media(max-width: 1000px){
  .container{
    flex-direction: column;
    min-width:95%;
  }
  .button-container{
    flex-direction: column;
    margin-top: 15px;
  }  
  .checkbox{
    /*margin-left:auto;
    margin-right: auto;*/
  }
  .container-text{
    font-size: 1rem;
  }
 }

.container-text{
  display: block;
  font-size: 1.4rem;
  margin-right: 20px;
  margin-left: 10px;
  margin-top:auto;
  margin-bottom: auto;
}

.container-text a{
  color:red;
}


.button{
  text-decoration: none;
  cursor: pointer;
  margin: auto;
  font-size: 1.5rem;
  background-color: red;
  color: white;
  padding: 10px;
  margin-top: 3vh;
  margin-bottom: 3vh;
  border-radius: 10px;
  box-shadow: 0 0 5px 0.2px black ;
}

.button-container{
  display: flex;
}

.container-header{
  margin-left: auto;
  margin-right: auto;
  font-size: 3rem;
  text-align: center;
}

.checkbox{
  display: inline-block;
  min-width: 30px;
  min-height: 30px;
  width:30px;
  height:30px;
  background: white;
  border-radius: 3px;
  border: 2px solid red;
  cursor: pointer;
}

.inline-form{
  font: inherit;
  height:1.8rem;
  margin-top:auto;
  margin-bottom:auto;
  max-width: 80%;
}

.error-text{
  color:orangered;
  font-size: 1.5rem;
}

canvas{
  width:80vw;
  height:50vh;
}

.field-container{
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}

.submit-err{
  font-size: 3rem;
  text-align: center;
}

.darkenback{
  position:absolute;
  top:-50vh;
  left:-50vw;
  width:100vw;
  height:300vh;
  background:rgba(0,0,0,0.5);
}

.text-container{
  margin-top: 20px;
}

.login-text-cont{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.sticky{
  position: sticky;
  top:0;
  width:100vw;
  background-color: yellow;
  color:black;
  height:10vh;
  font-size: 4vh;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  text-align: center;
  line-height: 10vh;
}