.app{
  display: block;
  text-align: -webkit-center;
}

.container{
  margin-top: 10vh;
  width:70%;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 10px 1px black ;
  display: flex;
  flex-direction: column;
  margin-left:auto;
  margin-right: auto;
}

.container img{
  width:60%;
  margin: auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.headertext{
  font-size: 0rem;
  margin:auto;
  padding: 3vh;
}

@media(min-width: 500px){
 .headertext{
  font-size: 2.5rem;
 }

 .button-container{
  flex-direction: row;
  }  

  .checkbox{
    margin-top:auto;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media(max-width: 500px){
  .container{
    flex-direction: column;
  }
  .button-container{
    flex-direction: column;
  }  
  .checkbox{
    margin-left:auto;
    margin-right: auto;
  }
 }

 .container-text{
  display: block;
  font-size: 1.4rem;
  margin-right: 20px;
}

.container-text a{
  color:red;
}


.button{
  text-decoration: none;
  cursor: pointer;
  margin: auto;
  font-size: 1.5rem;
  background-color: red;
  color: white;
  padding: 10px;
  margin-top: 3vh;
  margin-bottom: 3vh;
  border-radius: 10px;
  box-shadow: 0 0 5px 0.2px black ;
}

.button-container{
  display: flex;
}

.container-header{
  margin-left: auto;
  margin-right: auto;
  font-size: 3rem;
}

.checkbox{
  display: inline-block;
  width: 30px;
  height: 20px;
  background: white;
  border-radius: 3px;
  border: 2px solid red;
  cursor: pointer;
}

.inline-form{
  font: inherit;
}

.error-text{
  color:orangered;
  font-size: 1rem;
}